<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>fr.humanbooster.liaison.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>fr.humanbooster.liaison.servlet.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>fr.humanbooster.liaison.servlet.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/ConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnectionServlet</display-name>
    <servlet-name>DeconnectionServlet</servlet-name>
    <servlet-class>fr.humanbooster.liaison.servlet.DeconnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnectionServlet</servlet-name>
    <url-pattern>/DeconnectionServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>InvitationServlet</display-name>
    <servlet-name>InvitationServlet</servlet-name>
    <servlet-class>fr.humanbooster.liaison.servlet.InvitationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvitationServlet</servlet-name>
    <url-pattern>/InvitationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierMotDePasseServlet</display-name>
    <servlet-name>ModifierMotDePasseServlet</servlet-name>
    <servlet-class>fr.humanbooster.liaison.servlet.ModifierMotDePasseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierMotDePasseServlet</servlet-name>
    <url-pattern>/ModifierMotDePasseServlet</url-pattern>
  </servlet-mapping>
  <context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>


	<!-- Starting JSF -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- JSF paths -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
		
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>